body{
    font-family: "poppins", sans-serif;
    background-color: #696969;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8F8FF;
    padding: 20px;
    border-radius: 25px;
    width: 300px;
    box-shadow: 10px 10px 10px;
}

h2{
    text-align: center;
    margin-top: 0;
}

.form1{
    margin-bottom: 15px;
}

.form1 label{
    display: block;
    margin-bottom: 5px;
}

.form1 input, .form1 select, .form1 textarea{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.form1 button{
    color: white;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #525252;
}

button:hover{
    background-color: green;
}